*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root{
  font-size:62.5%;

  --btn-bg-color:#e2e1e67e;
  --btn-primary-color: #02799d89;
  --btn-secondary-color:#323238;
  --btn-text-color:#FFFFFF;
  --bg-color:#FFFFFF;
  --font-color:#000000;

  --btn-tooltip-color:#dbdbdb6b;
}

body{
  font-family:'Roboto', sans-serif;
  color:var(--font-color);

  background-image:url("/assets/bg-img-light.jpg");
  background-position:bottom;
  background-size: cover;
  background-repeat: no-repeat;

  height:100vh;
  
  display:grid;
}

header{
  position:absolute;
  top:2rem;
  right:2rem;
}

.darkBG{
  transition: background-image 1s;
  background-image:url("/assets/bg-img.jpg");
}
.lightBG{
  transition: background-image 1s;
  background-image:url("/assets/bg-img-light.jpg"); 
}
.dark-theme svg path:nth-child(1){
  transition: fill 2s;
  fill:var(--btn-secondary-color);
}
.dark-theme svg path:nth-child(2){
  transition: fill 2s;
  fill:var(--btn-text-color);
}

#timer-section,
#timer-buttons{
  display:flex;
}

.container{
  max-width:90rem;
  margin:auto;
  padding:3rem 4rem;

  display:grid;
  grid-template-columns:1fr 30rem;
  align-items: center;
  gap:clamp(2rem, 8vw, 14rem);

  background:linear-gradient(0deg, rgba(2, 202, 247, 0.2) 20%, rgba(255, 255, 255, 0.513) 30% 75%, rgba(255, 145, 1, 0.213) 85% );
  border-radius:5rem;
  border:10px solid rgba(6, 6, 6, 0.607);

  box-shadow:4px 4px 12px rgba(0,0,0,0.3);
}

.container-dark-bg{
  background:linear-gradient(0deg, rgba(91, 49, 231, 0.155) 15%, rgba(0, 0, 0, 0.64) 30% 75%, rgba(255, 255, 255, 0.113) 85% );
}

.container-light-bg{
  background:linear-gradient(0deg, rgba(2, 202, 247, 0.2) 20%, rgba(255, 255, 255, 0.513) 30% 75%, rgba(255, 145, 1, 0.213) 85% );
}

#timer-section{
  max-width:37rem;

  flex-direction:column;
  gap:2rem;
}
#timer{
  display:flex;
}
#timer span{
  font-size:clamp(11rem, 2rem + 28vw, 15rem);
  color:var(--font-color);
  text-shadow: 3px 3px 2px rgba(144, 144, 144, 0.776);
  
}

button{
  background-color:transparent;
  border:none;
  cursor:pointer;
}

#timer-buttons{
  height:62px;
  justify-content:space-between;
}

#timer-buttons > button{
  width:62px;
  height:62px;

  position:relative;
}

#timer-buttons button:nth-child(4)::before,
#timer-buttons button:nth-child(5)::before{
  content:'';
  position:absolute;
  left:-30px;
 
  padding:1rem 1rem;

  border-radius:1rem;
  background:var(--btn-tooltip-color);

  transform: scale(0) translateY(0);
  transition: transform 0.6s, translateY 0.4s;

  white-space: nowrap;  
}

#timer-buttons button:nth-child(4):hover::before,
#timer-buttons button:nth-child(5):hover::before{
  transform: scale(1) translateY(50px);
}
#timer-buttons button:nth-child(4)::before{
  content:'Adiciona 5 Minutos';
}
#timer-buttons button:nth-child(5)::before{
  content:'Remove 5 Minutos';
}

#sounds-buttons{
  display:grid;

  justify-content: center;  
  grid-template-columns:1fr 1fr;
  gap:3rem;
}

.sound-btn{
  position:relative;
}

.sound-btn input{
  position:absolute;
  z-index:1;

  width:8rem;
  
  bottom:3rem;
  left:3.0rem;

  color:white;

  -webkit-appearance:none;
  border-radius:3px;
}

.sound-btn input::-webkit-slider-runnable-track{
  width: 100%;
  height:5px;

  background:#fafafa;

  border-color: transparent;
  border-width: 6px 0;
  border-radius: 3px;
}

.sound-btn input::-webkit-slider-thumb{
  background: #000000;
 
  width:1.1rem;
  height:1.1rem;

  border: 1px solid rgb(255, 255, 255);
  border-radius:1rem;

  -webkit-appearance: none;
  margin-top:-3px;
}

.hide{
  display:none;
}

.color svg path:nth-child(1){
  transition: fill 1s;
  fill:var(--btn-primary-color);
}
.color svg path:nth-child(2){
  transition: fill 1s;
  fill:var(--btn-text-color);
}

footer{
  position:absolute;
  bottom:2rem;
  right:2rem;
}

@media(max-width:750px){
  body{
    margin:0.2rem;
  }
  .container{
    grid-template-columns:1fr;
    
    padding:0.5rem 0.2rem;
  }
  #timer-section{
    align-items:center;
    max-width:27rem;
    margin:auto;
  }
  #timer span{
    font-size:clamp(8rem, 9rem, 10rem);
  }
  #timer-buttons{
    width:85%;
    justify-content:space-around;
    gap:1rem;
  }
  #sounds-buttons{
    width:90%;
    margin:auto;
    gap:0.2rem;
  }
  .sound-btn svg{
    max-width:90%;
    max-height:90%;
  }
  .sound-btn input{
    bottom:4rem;
    left:3.2rem;
  }
}